<h4>
  1: Type-1
</h4>
<table id="one-column-emphasis" summary="2007 Major IT Companies' Profit">
  <colgroup>
    <col class="oce-first" />
  </colgroup>
  <thead>
    <tr>
        <th scope="col">Tools</th>
          <th scope="col">True Positive</th>
          <th scope="col">True Negative</th>
          <th scope="col">False Positive</th>
          <th scope="col">False Negative</th>
          <th scope="col">Failed</th>
          <th scope="col">Precision(%)</th>
          <th scope="col">Recall(%)</th>
          <th scope="col">F1(%)</th>
          <th scope="col">FPR(%)</th>
      </tr>
  </thead>
  <tbody>
    <tr>
        <td>Lint</td>
          <td>16</td>
          <td>22</td>
          <td>13</td>
          <td>19</td>
          <td>-</td>
          <td>55.17</td>
          <td>45.71</td>
          <td>50.00</td>
          <td>81.25</td>
      </tr>
      <tr>
        <td>ARPDroid</td>
          <td>13</td>
          <td>22</td>
          <td>13</td>
          <td>22</td>
          <td>-</td>
          <td>50.00</td>
          <td>37.14</td>
          <td>42.62</td>
          <td>100.00</td>
      </tr>
      <tr>
        <td>RevDroid</td>
          <td>15</td>
          <td>26</td>
          <td>6</td>
          <td>17</td>
          <td>6</td>
          <td>71.43</td>
          <td>46.88</td>
          <td>56.61</td>
          <td>40.00</td>
      </tr>
      <tr>
        <td><b>Aper</b></td>
          <td>26</td>
          <td>32</td>
          <td>3</td>
          <td>9</td>
          <td>-</td>
          <td>89.66</td>
          <td>74.29</td>
          <td>81.25</td>
          <td>11.59</td>
      </tr>
  </tbody>
</table>
<div>
  <p><b><a href="benchtype1lint.html" target="_blank" >See details of Lint</a></b></p>
  <p><b><a href="benchtype1arpdroid.html" target="_blank" >See details of ARPDroid</a></b></p>
  <p><b><a href="benchtype1revdroid.html" target="_blank" >See details of RevDroid</a></b></p>
  <p><b><a href="benchtype1aper.html" target="_blank" >See details of Aper</a></b></p>
</div>