<h4>
  2: Type-2
</h4>
<table id="one-column-emphasis" summary="2007 Major IT Companies' Profit">
  <colgroup>
    <col class="oce-first" />
  </colgroup>
  <thead>
    <tr>
        <th scope="col">Tools</th>
          <th scope="col">True Positive</th>
          <th scope="col">True Negative</th>
          <th scope="col">False Positive</th>
          <th scope="col">False Negative</th>
          <th scope="col">Failed</th>
          <th scope="col">Precision(%)</th>
          <th scope="col">Recall(%)</th>
          <th scope="col">F1(%)</th>
          <th scope="col">FPR(%)</th>
      </tr>
  </thead>
  <tbody>
    <tr>
        <td>Lint</td>
          <td>14</td>
          <td>15</td>
          <td>10</td>
          <td>11</td>
          <td>-</td>
          <td>58.33</td>
          <td>56.00</td>
          <td>57.14</td>
          <td>71.43</td>
      </tr>
      <tr>
        <td><b>Aper</b></td>
          <td>23</td>
          <td>19</td>
          <td>6</td>
          <td>2</td>
          <td>-</td>
          <td>79.31</td>
          <td>92.00</td>
          <td>85.19</td>
          <td>26.09</td>
      </tr>
  </tbody>
</table>
<div>
  <p><b><a href="benchtype2lint.html" target="_blank" >See details of Lint</a></b></p>
  <p><b><a href="benchtype2Aper.html" target="_blank" >See details of Aper</a></b></p>
</div>