<!-- Table of bugs -->
<div class="col s12 tag-div">
  <p>
    
    Type-1 (Missing Permission Checks): A dangerous API is called without a guarding permission check.
  </p>
  <n/>
  <n/>
</div>

<!-- <a href="notebuddy.html" target="_blank">test</a> -->
<table id="one-column-emphasis" summary="2007 Major IT Companies' Profit">
  <colgroup>
    <col class="oce-first" />
  </colgroup>
  <thead>
    <tr>
        <th scope="col">Package</th>
          <th scope="col">Version</th>
          <th scope="col">Category</th>
          <th scope="col">Star</th>
          <th scope="col">Fork</th>
          <th scope="col">Install</th>
          <th scope="col">Video</th>
          <th scope="col">Source</th>
          <th scope="col">F-Droid</th>
          <th scope="col">Google Play</th>
          <th scope="col">Issue ID</th>
          <th scope="col">Status</th>
      </tr>
  </thead>
  <tbody>
    <tr>
        <td>com.notecryptpro</td>
          <td>1.44</td>
          <td>Productivity</td>
          <td>30</td>
          <td>33</td>
          <td>1K+</td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="notecryptpro.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://github.com/RyuzakiKK/NoteCrypt" style="display:block;" target="_blank">Github</a></td>
          <td><a href="https://f-droid.org/packages/com.notecryptpro/" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://play.google.com/store/apps/details?id=com.notecryptpro" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/RyuzakiKK/NoteCrypt/issues/56" style="display:block;" target="_blank">56</a></td>
          <td>open</td>
      </tr>
      <tr>
        <td>eu.depau.etchdroid</td>
          <td>1.5</td>
          <td>Tools</td>
          <td>277</td>
          <td>68</td>
          <td>100K+</td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="etchdroid.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://github.com/EtchDroid/EtchDroid/" style="display:block;" target="_blank">Github</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/EtchDroid/EtchDroid/issues/135" style="display:block;" target="_blank">135</a></td>
          <td>confirmed</td>
      </tr>
      <tr>
        <td>io.github.gsantner.memetastic</td>
          <td>1.6.7</td>
          <td>Entertainment</td>
          <td>213</td>
          <td>122</td>
          <td>10K+</td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="memetastic.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://github.com/gsantner/memetastic/" style="display:block;" target="_blank">Github</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/gsantner/memetastic/issues/227" style="display:block;" target="_blank">227</a></td>
          <td>...</td>
      </tr>
      <tr>
        <td>org.openintents.notepad</td>
          <td>1.5.4</td>
          <td>Productivity</td>
          <td>43</td>
          <td>39</td>
          <td>500K+</td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="oinotepad.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://github.com/openintents/notepad" style="display:block;" target="_blank">Github</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/openintents/notepad/issues/43" style="display:block;" target="_blank">43</a></td>
          <td>...</td>
      </tr>
      <tr>
        <td>org.openpetfoodfacts.scanner</td>
          <td>3.2.8</td>
          <td>Food & Drink</td>
          <td>585</td>
          <td>401</td>
          <td>5K+</td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="openpetfoodfacts.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://github.com/openfoodfacts/openfoodfacts-androidapp/" style="display:block;" target="_blank">Github</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/3967" style="display:block;" target="_blank">3967</a></td>
          <td>...</td>
      </tr>
      <tr>
        <td>d.d.meshenger</td>
          <td>3.0.3</td>
          <td>Productivity</td>
          <td>161</td>
          <td>39</td>
          <td>100+</td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="meshenger.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://github.com/meshenger-app/meshenger-android/" style="display:block;" target="_blank">Github</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/meshenger-app/meshenger-android/issues/53" style="display:block;" target="_blank">53</a></td>
          <td>...</td>
      </tr>
      <tr>
        <td>ch.hgdev.toposuite</td>
          <td>1.2.0</td>
          <td>Productivity</td>
          <td>11</td>
          <td>0</td>
          <td>5K+</td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="toposuite.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://github.com/hgdev-ch/toposuite-android" style="display:block;" target="_blank">Github</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/hgdev-ch/toposuite-android/issues/2" style="display:block;" target="_blank">2</a></td>
          <td>...</td>
      </tr>
      <tr>
        <td>com.javiersantos.mlmanager</td>
          <td>1.0.4.1</td>
          <td>Tools</td>
          <td>1135</td>
          <td>407</td>
          <td>100K+</td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="#meshenger" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://github.com/javiersantos/MLManager" style="display:block;" target="_blank">Github</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td>-</td>
          <td>...</td>
      </tr>
      <tr>
        <td>net.minetest.minetest</td>
          <td>5.2.0.26</td>
          <td>Casual</td>
          <td>6056</td>
          <td>1379</td>
          <td>500K+</td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="minetest.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://github.com/minetest/minetest" style="display:block;" target="_blank">Github</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/minetest/minetest/issues/11417" style="display:block;" target="_blank">11417</a></td>
          <td>...</td>
      </tr>
      <tr>
        <td>net.mypapit.mobile.myposition</td>
          <td>1.3.3</td>
          <td>Travel & Local</td>
          <td>27</td>
          <td>12</td>
          <td>50K+</td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="mylocation.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://github.com/gjedeer/mylocation" style="display:block;" target="_blank">Github</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/gjedeer/mylocation/issues/27" style="display:block;" target="_blank">27</a></td>
          <td>...</td>
      </tr>
      <tr>
        <td>org.horaapps.leafpic</td>
          <td>0.6</td>
          <td>Photography</td>
          <td>85</td>
          <td>54</td>
          <td>50K+</td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="leafpic.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://gitlab.com/HoraApps/LeafPic" style="display:block;" target="_blank">Gitlab</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://gitlab.com/HoraApps/LeafPic/-/issues/612" style="display:block;" target="_blank">612</a></td>
          <td>...</td>
      </tr>
      <tr>
        <td>fr.nocle.passegares</td>
          <td>1.4.1</td>
          <td>Travel & Local</td>
          <td>8</td>
          <td>4</td>
          <td>50+</td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="railtrip.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://framagit.org/JonathanMM/passegares" style="display:block;" target="_blank">Framagit</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://framagit.org/JonathanMM/passegares/-/issues/108" style="display:block;" target="_blank">108</a></td>
          <td>...</td>
      </tr>
      <tr>
        <td>it.reyboz.bustorino</td>
          <td>1.14</td>
          <td>Productivity</td>
          <td></td>
          <td></td>
          <td>10+</td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="busto.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://gitpull.it/source/libre-busto/" style="display:block;" target="_blank">Gitpull</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://gitpull.it/T889" style="display:block;" target="_blank">T889</a></td>
          <td>...</td>
      </tr>
      <tr>
        <td>org.decsync.sparss</td>
          <td>1.15.2</td>
          <td></td>
          <td>39</td>
          <td>390</td>
          <td></td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="sparssdecsync.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://github.com/39aldo39/spaRSS-DecSync" style="display:block;" target="_blank">Github</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/39aldo39/spaRSS-DecSync/issues/16" style="display:block;" target="_blank">16</a></td>
          <td>...</td>
      </tr>
      <tr>
        <td>org.asteroidos.sync</td>
          <td>0.21</td>
          <td></td>
          <td>70</td>
          <td>26</td>
          <td></td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="asteroidossync.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://github.com/AsteroidOS/AsteroidOSSync" style="display:block;" target="_blank">Github</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/AsteroidOS/AsteroidOSSync/issues/138" style="display:block;" target="_blank">138</a></td>
          <td>...</td>
      </tr>
      <tr>
        <td>com.rubenwardy.minetestmodmanager</td>
          <td>1.9.1</td>
          <td></td>
          <td>13</td>
          <td>6</td>
          <td></td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="minetestmods.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/rubenwardy/mtmods4android" style="display:block;" target="_blank">Github</a></td>
          <td>-</td>
          <td>...</td>
      </tr>
      <tr>
        <td>com.github.onetimepass</td>
          <td>1.2.2</td>
          <td></td>
          <td>15</td>
          <td>3</td>
          <td></td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="onetimepass.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://github.com/OneTimePass/OneTimePass" style="display:block;" target="_blank">Github</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/OneTimePass/OneTimePass/issues/14" style="display:block;" target="_blank">14</a></td>
          <td>...</td>
      </tr>
      <tr>
        <td>com.fr3ts0n.stagefever</td>
          <td>1.2.0</td>
          <td></td>
          <td>7</td>
          <td>9</td>
          <td></td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="stagefever.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://github.com/fr3ts0n/StageFever" style="display:block;" target="_blank">Github</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/fr3ts0n/StageFever/issues/7" style="display:block;" target="_blank">7</a></td>
          <td>...</td>
      </tr>
      <tr>
        <td>org.pyload.android.client</td>
          <td>0.3.7</td>
          <td></td>
          <td>36</td>
          <td>23</td>
          <td></td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="pyload.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://github.com/pyload/pyload-android" style="display:block;" target="_blank">Github</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/pyload/pyload-android/issues/39" style="display:block;" target="_blank">39</a></td>
          <td>...</td>
      </tr>
      <tr>
        <td>org.amoradi.syncopoli</td>
          <td>0.6</td>
          <td></td>
          <td>55</td>
          <td>22</td>
          <td></td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="syncopoli.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="https://github.com/pyload/pyload-android" style="display:block;" target="_blank">Gitlab</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/pyload/pyload-android/~/issues/145" style="display:block;" target="_blank">145</a></td>
          <td>...</td>
      </tr>
      <tr>
        <td>pl.nkg.geokrety</td>
          <td>0.9.0</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="geokretylogger.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://sourceforge.net/p/geokretylog/code" style="display:block;" target="_blank">sourceforge</a></td>
          <td>-</td>
          <td>...</td>
      </tr>
      <tr>
        <td>nl.yoerinijs.notebuddy</td>
          <td>1.3.2</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="notebuddy.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td>404</td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td>-</td>
          <td>...</td>
      </tr>
      <tr>
        <td>com.easwareapps.baria</td>
          <td>1.0</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td><a href="baria.html" style="display:block;color:#00cc44" target="_blank">here</a></td>
          <td>404</td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td>-</td>
          <td>...</td>
      </tr>
	  <tr>
        <td>a2dp.Vol</td>
          <td>2.13.0.2</td>
          <td>Maps</td>
          <td>77</td>
          <td>33</td>
          <td>100K+</td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td>-</td>
          <td><a href="https://github.com/jroal/a2dpvolume" style="display:block;" target="_blank">Github</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/jroal/a2dpvolume/issues/293" style="display:block;" target="_blank">293</a></td>
          <td>...</td>
      </tr>
	  <tr>
        <td>fr.unix_experience.owncloud_sms</td>
          <td>1.0.0</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">here</a></td> -->
          <td>-</td>
          <td><a href="https://github.com/nerzhul/ncsms-android" style="display:block;" target="_blank">Github</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="" style="display:block;" target="_blank">link</a></td>
          <td><a href="https://github.com/nerzhul/ncsms-android/issues/237" style="display:block;" target="_blank">237</a></td>
          <td>...</td>
      </tr>
  </tbody>
</table>