<!-- Table of bugs -->
<div class="col s12 tag-div">
  <p>
    Type-2 (Incompatible Permission Usages): A new dangerousAPI is called on lower platforms, or the evolution of permissionspecifications is not fully handled
  </p>
  <n/>
  <n/>
</div>

**ready for editing; embed videos**


<table id="one-column-emphasis" summary="2007 Major IT Companies' Profit">
  <colgroup>
    <col class="oce-first" />
  </colgroup>
  <thead>
    <tr>
      <th scope="col">Package</th>
        <th scope="col">Version</th>
        <th scope="col">Category</th>
        <th scope="col">Star</th>
        <th scope="col">Fork</th>
        <th scope="col">Install</th>
        <th scope="col" class="centerText">Reproduction Video</th>
        <th scope="col">Source</th>
        <th scope="col" >F-Droid</th>
        <th scope="col" class="centerText">Google Play</th>
        <th scope="col" class="centerText">Issue ID</th>
        <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>eu.faircode.netguard</td>
        <td>2.296</td>
        <td>Tools</td>
        <td>3332</td>
        <td>742</td>
        <td>5M+</td>
        <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">Yes</a></td> -->
        <td class="centerText">-</td>
        <td><a href="https://github.com/M66B/NetGuard" style="display:block;" target="_blank">Github</a></td>
        <td><a href="https://f-droid.org/packages/eu.faircode.netguard">link</a></td>
        <td><a href="https://play.google.com/store/apps/details?id=eu.faircode.netguard">link</a></td>
        <td><a href="https://forum.xda-developers.com/t/app-6-0-netguard-no-root-firewall.3233012/page-635" style="display:block;" target="_blank">635</a></td>
        <td>confirmed</td>
    </tr>
    <tr>
      <td>com.genonbeta.TrebleShot</td>
        <td>1.4.2</td>
        <td>Tools</td>
        <td>753</td>
        <td>176</td>
        <td>50K+</td>
        <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">Yes</a></td> -->
        <td class="centerText">-</td>
        <td><a href="https://github.com/trebleshot/android" style="display:block;" target="_blank">Github</a></td>
        <td><a href="https://f-droid.org/packages/com.genonbeta.TrebleShot">link</a></td>
        <td><a href="https://play.google.com/store/apps/details?id=com.genonbeta.TrebleShot">link</a></td>
        <td><a href="https://github.com/trebleshot/android/issues/174" style="display:block;" target="_blank">174</a></td>
        <td>fixed</td>
    </tr>
    <tr>
      <td>com.github.FunkyMuse.KAHelpers(TPL)</td>
        <td>3.0.8</td>
        <td>TPL</td>
        <td>489</td>
        <td>45</td>
        <td>-</td>
        <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">Yes</a></td> -->
        <td class="centerText">-</td>
        <td><a href="https://github.com/FunkyMuse/KAHelpers" style="display:block;" target="_blank">Github</a></td>
        <td>-</td>
        <td>-</td>
        <td><a href="https://github.com/FunkyMuse/KAHelpers/issues/124" style="display:block;" target="_blank">124</a></td>
        <td>fixed</td>
    </tr>
    <tr>
      <td>com.mendhak.gpslogger</td>
        <td>111</td>
        <td>Tools</td>
        <td>1393</td>
        <td>537</td>
        <td>50+</td>
        <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">Yes</a></td> -->
        <td class="centerText"><a href="#" style="display:block;color:#00cc44;align-items:center!important;" target="_blank">play</a></td>
        <td><a href="https://github.com/mendhak/gpslogger" style="display:block;" target="_blank">Github</a></td>
        <td><a href="https://f-droid.org/packages/com.mendhak.gpslogger">link</a></td>
        <td><a href="https://play.google.com/store/apps/details?id=com.mendhak.gpsloggerfhwa&hl=en&gl=US">link</a></td>
        <td><a href="https://github.com/mendhak/gpslogger/issues/889" style="display:block;" target="_blank">889</a></td>
        <td>open</td>
    </tr>
    <tr>
      <td>org.acra.data(TPL)</td>
        <td>5.8.4</td>
        <td>TPL</td>
        <td>5688</td>
        <td>1116</td>
        <td>-</td>
        <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">Yes</a></td> -->
        <td class="centerText">-</td>
        <td><a href="https://github.com/acra/acra" style="display:block;" target="_blank">Github</a></td>
        <td><a href="https://f-droid.org/packages/org.acra.data">link</a></td>
        <td>-</td>
        <td><a href="https://github.com/acra/acra/887" style="display:block;" target="_blank">887</a></td>
        <td>fixed</td>
    </tr>
    <tr>
      <td>org.fitchfamily.android.dejavu</td>
        <td>1.1.12</td>
        <td>-</td>
        <td>71</td>
        <td>12</td>
        <td>-</td>
        <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">Yes</a></td> -->
        <td class="centerText">-</td>
        <td><a href="https://github.com/n76/DejaVu" style="display:block;" target="_blank">Github</a></td>
        <td><a href="https://f-droid.org/packages/org.fitchfamily.android.dejavu">link</a></td>
        <td>-</td>
        <td><a href="https://github.com/n76/DejaVu/issues/38" style="display:block;" target="_blank">38</a></td>
        <td>open</td>
    </tr>
    <tr>
      <td>org.openbmap.unifiedNlp</td>
        <td>0.2.9</td>
        <td>-</td>
        <td>28</td>
        <td>13</td>
        <td>-</td>
        <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">Yes</a></td> -->
        <td class="centerText">-</td>
        <td><a href="https://github.com/openbmap/radiocells-scanner-android" style="display:block;" target="_blank">Github</a></td>
        <td><a href="https://f-droid.org/packages/org.openbmap.unifiedNlp">link</a></td>
        <td>-</td>
        <td><a href="https://github.com/openbmap/radiocells-scanner-android/issues/55" style="display:block;" target="_blank">55</a></td>
        <td>open</td>
    </tr>
    <tr>
      <td>de.danoeh.antennapod</td>
        <td>2.3.1</td>
        <td>Music & Audio</td>
        <td>3690</td>
        <td>989</td>
        <td>500K+</td>
        <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">Yes</a></td> -->
        <td class="centerText">-</td>
        <td><a href="https://github.com/AntennaPod/AntennaPod" style="display:block;" target="_blank">Github</a></td>
        <td><a href="https://f-droid.org/packages/de.danoeh.antennapod">link</a></td>
        <td><a href="https://play.google.com/store/apps/details?id=de.danoeh.antennapod">link</a></td>
        <td><a href="https://github.com/AntennaPod/AntennaPod/blob/bb51e9ebd97579553ff2301262e38ac90d5dc925/app/src/main/java/de/danoeh/antennapod/fragment/preferences/AutoDownloadPreferencesFragment.java#L89" style="display:block;" target="_blank">-</a></td>
        <td>-</td>
    </tr>
    <tr>
      <td>com.androdevlinux.percy.p2pchat</td>
        <td>1.2</td>
        <td>COMMUNICATION</td>
        <td>6</td>
        <td>3</td>
        <td>500+</td>
        <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">Yes</a></td> -->
        <td class="centerText"><a href="#" style="display:block;color:#00cc44;align-items:center!important;" target="_blank">play</a></td>
        <td><a href="https://github.com/percy-g2/P2PChat" style="display:block;" target="_blank">Github</a></td>
        <td><a href="https://f-droid.org/packages/com.androdevlinux.percy.p2pchat">link</a></td>
        <td><a href="https://play.google.com/store/apps/details?id=com.androdevlinux.percy.p2pchat">link</a></td>
        <td><a href="https://github.com/percy-g2/P2PChat/issues/2" style="display:block;" target="_blank">2</a></td>
        <td>open</td>
    </tr>
    <tr>
      <td>com.toughra.ustadmobile</td>
        <td>0.3.39</td>
        <td>EDUCATION</td>
        <td>11</td>
        <td>15</td>
        <td>1K+</td>
        <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">Yes</a></td> -->
        <td class="centerText">-</td>
        <td><a href="https://github.com/UstadMobile/UstadMobile" style="display:block;" target="_blank">Github</a></td>
        <td><a href="https://f-droid.org/packages/com.toughra.ustadmobile">link</a></td>
        <td><a href="https://play.google.com/store/apps/details?id=com.toughra.ustadmobile">link</a></td>
        <td><a href="https://github.com/UstadMobile/UstadMobile/issues/300" style="display:block;" target="_blank">300</a></td>
        <td>open</td>
    </tr>
    <tr>
      <td>org.nitri.opentopo</td>
        <td>1.11.6</td>
        <td></td>
        <td>23</td>
        <td>7</td>
        <td></td>
        <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">Yes</a></td> -->
        <td class="centerText"><a href="#" style="display:block;color:#00cc44;align-items:center!important;" target="_blank">play</a></td>
        <td><a href="https://github.com/Pygmalion69/OpenTopoMapViewer" style="display:block;" target="_blank">Github</a></td>
        <td><a href="https://f-droid.org/packages/org.nitri.opentopo">link</a></td>
        <td>-</td>
        <td><a href="https://github.com/Pygmalion69/OpenTopoMapViewer/issues/19" style="display:block;" target="_blank">19</a></td>
        <td>fixed</td>
    </tr>
  

  </tbody>
</table>