<!-- Table of bugs -->
<div class="col s12 tag-div">
  <p>
    
    Type-1 (Missing Permission Checks): A dangerous API iscalled without a guarding permission check.
  </p>
  <n/>
  <n/>
</div>

<!-- <a href="notebuddy.html" target="_blank">test</a> -->
<table id="one-column-emphasis" summary="2007 Major IT Companies' Profit">
  <colgroup>
    <col class="oce-first" />
  </colgroup>
  <thead>
    <tr>
        <th scope="col">Package</th>
          <th scope="col">Version</th>
          <th scope="col">Category</th>
          <th scope="col">Star</th>
          <th scope="col">Fork</th>
          <th scope="col">Install</th>
          <th scope="col">Video</th>
          <th scope="col">Link</th>
          <th scope="col">Issue ID</th>
      </tr>
  </thead>
  <tbody>
    <tr>
        <td>com.notecryptpro</td>
          <td>1.44</td>
          <td>Productivity</td>
          <td>30</td>
          <td>33</td>
          <td>1K+</td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">Yes</a></td> -->
          <td><a href="notebuddy.html" style="display:block;" target="_blank">Yes</a></td>
          <td><a href="https://github.com/RyuzakiKK/NoteCrypt" style="display:block;" target="_blank">Github</a></td>
          <td><a href="https://github.com/RyuzakiKK/NoteCrypt/issues/56" style="display:block;" target="_blank">56</a></td>
      </tr>
      <tr>
        <td>eu.depau.etchdroid</td>
          <td>1.5</td>
          <td>Tools</td>
          <td>277</td>
          <td>68</td>
          <td>100K+</td>
          <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">Yes</a></td> -->
          <td><a href="etchdroid.html" style="display:block;" target="_blank">Yes</a></td>
          <td><a href="https://github.com/EtchDroid/EtchDroid/" style="display:block;" target="_blank">Github</a></td>
          <td><a href="https://github.com/EtchDroid/EtchDroid//issues/56" style="display:block;" target="_blank">56</a></td>
      </tr>
  </tbody>
</table>