<!-- Table of bugs -->
<div class="col s12 tag-div">
  <p>
    Type-2 (Incompatible Permission Usages): A new dangerousAPI is called on lower platforms, or the evolution of permissionspecifications is not fully handled
  </p>
  <n/>
  <n/>
</div>

**ready for editing; embed videos**


<table id="one-column-emphasis" summary="2007 Major IT Companies' Profit">
  <colgroup>
    <col class="oce-first" />
  </colgroup>
  <thead>
    <tr>
        <th scope="col">Package</th>
          <th scope="col">Version</th>
          <th scope="col">Category</th>
          <th scope="col">Star</th>
          <th scope="col">Fork</th>
          <th scope="col">Install</th>
          <th scope="col">Video</th>
          <th scope="col">Link</th>
          <th scope="col">Issue ID</th>
      </tr>
  </thead>
  <tbody>
    <tr>
        <td>com.notecryptpro</td>
          <td>1.44</td>
          <td>Productivity</td>
          <td>30</td>
          <td>33</td>
          <td>1K+</td>
          <td><a herf="">Yes</a></td>
          <td><a herf="">Github</a></td>
          <td>56</td>
      </tr>
    
  </tbody>
</table>