<!-- Table of bugs -->
<div class="col s12 tag-div">
  <p>
    Type-2 (Incompatible Permission Usages): A new dangerousAPI is called on lower platforms, or the evolution of permissionspecifications is not fully handled
  </p>
  <n/>
  <n/>
</div>

**ready for editing; embed videos**


<table id="one-column-emphasis" summary="2007 Major IT Companies' Profit">
  <colgroup>
    <col class="oce-first" />
  </colgroup>
  <thead>
    <tr>
        <th scope="col">Package</th>
          <th scope="col">Version</th>
          <th scope="col">Category</th>
          <th scope="col">Star</th>
          <th scope="col">Fork</th>
          <th scope="col">Install</th>
          <th scope="col">Video</th>
          <th scope="col">Link</th>
          <th scope="col">Issue ID</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td>eu.faircode.netguard</td>
        <td>2.296</td>
        <td>Tools</td>
        <td>3332</td>
        <td>742</td>
        <td>5M+</td>
        <!-- <td onclick="window.open('notebuddy.html');"><a herf="notebuddy.html">Yes</a></td> -->
        <td><a href="notebuddy.html" style="display:block;" target="_blank">Yes</a></td>
        <td><a href="https://github.com/M66B/NetGuard" style="display:block;" target="_blank">Github</a></td>
        <td><a href="https://forum.xda-developers.com/t/app-6-0-netguard-no-root-firewall.3233012/page-635" style="display:block;" target="_blank">635</a></td>
    </tr>
    
  </tbody>
</table>